# Игнорировать папки с зависимостями
node_modules/
vendor/

# Игнорировать временные файлы редакторов
*.swp
*.swo
.idea/
.vscode/

# Логи и временные файлы
*.log
*.tmp

# Файлы окружения и секреты
.env

# Компилированные файлы
/dist/
/build/

# Другие системные файлы
.DS_Store
Thumbs.db